ion-content {
  --background: #0B1222;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 15px; // pone un espacio antes de linea

  h2.text-white {
    color: #ffffff !important; 
    font-weight: 800;
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .text-muted {
    color: #cbd5e1 !important; 
    font-size: 0.95rem;
    text-align: center;
    padding: 0 20px;
  }

  .section-title {
  color: #ffffff !important; 
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  border-left: 3px solid #FFD700; 
  padding-left: 10px;
}

  .main-avatar {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border: 2px solid #FFD700;
  }
}

.section-title {
  color: #ffffff !important; 
  font-size: 1.2rem; 
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  border-left: 4px solid #FFD700; 
  padding-left: 12px;
  display: block; 
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.mensaje-btn {
  margin-top: 14px;
  width: 100%;
}



.empty-resenas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  color: #8899ac;

  ion-icon { font-size: 3rem; margin-bottom: 10px; }
  p { font-size: 0.9rem; }
}

.movie-card {
  margin: 8px 4px;
  background: #161f2e !important;
  border-radius: 12px;
  border: 1px solid #2a3548;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);

  .poster-container {
    img {
      height: 200px;
      object-fit: cover;
      width: 100%;
      display: block;
    }
  }

  ion-card-header {
    padding: 10px 8px;
    color: #ffffff !important;
    ion-card-subtitle { color: #ffffff !important; font-weight: 700; font-size: 0.85rem; }
  }
}

.stars-mini { display: flex; gap: 2px; margin: 4px 0; }
.star-mini-icon { color: #e2b41d; font-size: 0.85rem; }

.date-text {
  font-size: 0.7rem;
  color: #8899ac;
  margin-top: 4px;
}

.comentario-text {
  font-size: 0.8rem;
  color: #e2e8f0 !important;
  color: #c8d3e0;
  font-style: italic;
  padding-top: 0;
}

.movie-card-resena {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
  cursor: pointer;

  .figma-poster {
    width: 110px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }

  .stars-mini {
    margin-top: 6px;
  }
}
