<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-profile">
    <ion-avatar>
      <img [src]="usuario.avatar_url" />
    </ion-avatar>
    <h1>{{ usuario.nombre }} {{ usuario.apellido_1 }} {{ usuario.apellido_2 }}</h1>
    <p>@{{ usuario.nombre_user }}</p>
  </div>

  <div class="info-section">
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-subtitle>Biografía</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ usuario.bio }}
      </ion-card-content>
    </ion-card>

    <ion-list lines="full">
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Correo</h3>
          <p>{{ usuario.email }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Radio de Búsqueda</h3>
          <p>{{ usuario.radio_conex }} km</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Estado de Búsqueda</h3>
          <p>{{ usuario.busqueda_abierta === 'S' ? 'Abierta' : 'Cerrada' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar  class="py-1">
    <div class="d-flex justify-content-around align-items-center w-100">
      
      <div class="footer-item " (click)="irAHome()">
        <ion-icon src="assets/icon/home_icon.svg"></ion-icon>
        <span>Home</span>
      </div>

      <div class="footer-item">
        <ion-icon src="assets/icon/ranking_icon.svg"></ion-icon>
        <span>Ranking</span>
      </div>

      <div class="footer-item active" (click)="irAPerfil()">
        <ion-icon src="assets/icon/perfil_icon.svg"></ion-icon>
        <span>Perfil</span>
      </div>

    </div>
  </ion-toolbar>
</ion-footer>