<ion-content class="ion-padding login-background">
  <div class="container-center">
    
    <div class="logo-section ion-text-center">
      <img src="assets/icon/logo.png" alt="CineMatch Logo" class="logo-img">
      <h1 class="brand-name">CineMatch</h1>
    </div>

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Inicio sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="input-wrapper">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-item lines="none" class="custom-item">
            <ion-input type="email" placeholder="ejemplo@correo.cl"></ion-input>
            <ion-icon name="star-outline" slot="end"></ion-icon>
          </ion-item>
        </div>

        <div class="input-wrapper ion-margin-top">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-item lines="none" class="custom-item">
            <ion-input type="password" placeholder="****"></ion-input>
            <ion-icon name="star-outline" slot="end"></ion-icon>
          </ion-item>
        </div>

        <ion-button expand="block" shape="round" class="login-button ion-margin-top">
          Ingresar
        </ion-button>
      </ion-card-content>
    </ion-card>

    <div class="footer-links ion-margin-top">
      <a class="link">Regístrate</a>
      <a class="link">¿Olvidaste tu contraseña?</a>
    </div>

  </div>
</ion-content>