<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Reseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="form-container">

    <ion-card class="registro-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center text-white">
          ¿Qué te pareció la película?
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="stars-row ion-text-center">
          <ion-icon *ngFor="let s of [1,2,3,4,5]" 
                    [name]="resena.calificacion >= s ? 'star' : 'star-outline'"
                    (click)="setRating(s)"
                    class="star-icon">
          </ion-icon>
        </div>

        <ion-item fill="outline" mode="md" class="input-item">
          <ion-label position="floating">Escribe tu opinión (opcional)</ion-label>
          <ion-textarea [(ngModel)]="resena.comentario" rows="8"></ion-textarea>
        </ion-item>

        <ion-item lines="none" class="spoiler-item">
          <ion-label class="text-white">¿Contiene spoilers?</ion-label>
          <ion-toggle [(ngModel)]="resena.tiene_spoiler"></ion-toggle>
        </ion-item>

        <ion-button expand="block" class="main-btn" (click)="guardar()">
          Publicar Reseña
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div> 
  </ion-content>