ion-content {
    --background: #0B1222; // color fondo principal
}

.boton-resena {
  --background:#4A90E2; // color boton
  
}

.spoiler{ 
    --background:#4A90E2;}

.star-icon{
    color: #e2b41d;
    font-size: 2.0rem;
    margin: 0 5px;
}