ion-content {
  // color de fondo principal de la app
  --background: #0B1222; 

  // --- SECCIÓN: SALUDO Y LOGO ---
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  // Esta es la clase que debes ponerle al <span> en el HTML
  .saludo-texto {
    color: #ffffff !important;
    font-weight: 700 !important; 
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }

  // --- SECCIÓN: BUSCADOR ---
  .custom-search {
    --border-radius: 50px;
    --background: #ffffff;
    --placeholder-color: #666;
    --icon-color: #666;
    padding: 0;
    height: 45px;
    --color: #000000 !important; // texto que escribe el usuario en negro
    margin-top: 15px;
  }

  // --- SECCIÓN: TÍTULOS DE CATEGORÍAS ---
  .section-title {
    color: #ffffff !important; // forzar blanco para Android
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 18px;
    border-bottom: 1px solid #30363d; 
    padding-bottom: 8px;
  }

  // --- SECCIÓN: SCROLL HORIZONTAL DE PELÍCULAS ---
  .scroll-horizontal {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding-bottom: 15px;
    
    
    &::-webkit-scrollbar { 
      display: none; 
    }
  }

  .movie-card {
    flex: 0 0 auto;
    width: 130px;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:active { 
      transform: scale(0.95); // efecto de clic
    }
  }

  .figma-poster {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }

  .skeleton-card {
    width: 100%;
    height: 190px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1a2235 25%, #243048 50%, #1a2235 75%);
    background-size: 200% 100%;
    animation: shimmer 1.4s infinite;
  }

  @keyframes shimmer {
    0%   { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
}

// --- SECCIÓN: FOOTER (FUERA DEL ION-CONTENT) ---
ion-footer {
  background-color: #0B1222;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  span {
    margin-top: 4px;
  }

  ion-icon, img {
    transition: opacity 0.2s;
  }

  div[click]:active {
    opacity: 0.6; 
  }
}