<ion-content class="bg-dark">
  <div  class="container" style="margin-top: 50px;">
 <div class="d-flex justify-content-between align-items-center mb-3 px-1" style="line-height: 1;">
  
  <img src="assets/icon/logo.png" style="width: 32px; height: auto; display: block; margin-right: 10px">
  
<span class="saludo-texto fw-light m-0 p-0" style="font-size: 1rem; display: flex; align-items: center; margin-top: 3px">
  ¡Hola, {{ nombre_user }}!
</span>

</div>
    <ion-searchbar placeholder="¿Qué película buscas?" 
  class="custom-search" 
  mode="ios"
  (ionInput)="buscarPelicula($event)"
  [debounce]="250"></ion-searchbar>
  </div>

  <div class="mt-5">
    <div class="container">
      <p class="section-title">Recomendadas para ti</p>
    </div>
    
    <div class="scroll-horizontal ps-3">
      <div class="movie-card" *ngFor="let peli of peliculas.slice(0,10)" (click)="verDetalle(peli.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500' + peli.poster_path" class="figma-poster">
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5 mb-5">
    <div class="container">
      <p class="section-title">Populares en tu ciudad</p>
    </div>

    <div class="scroll-horizontal ps-3">
      <div class="movie-card" *ngFor="let peli of peliculas.slice(10, 20)" (click)="verDetalle(peli.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500' + peli.poster_path" class="figma-poster">
      </div>
    </div>
  </div>

 
</ion-content>

<!-- me quedó feo le falta cambiar cosas -->
<ion-footer class="ion-no-border" style="background-color: #0B1222; border-top: 1px solid rgba(255,255,255,0.1);">
  <div style="display: flex !important; flex-direction: row !important; justify-content: space-around; align-items: center; padding: 14px 0;">
    
        <div (click)="irAHome()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #FFD700;">
      <ion-icon src="assets/icon/home_icon.svg" style="font-size: 30px; margin-bottom: 4px;"></ion-icon>
      <span style="font-size: 0.75rem; font-weight: 700;">Home</span>
    </div>

    <div (click)="irAMisListas()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #8E94A0;">
      <img src="assets/icon/pelicula.png" style="width: 30px; height: 30px; margin-bottom: 4px;">
      <span style="font-size: 0.75rem; font-weight: 600;">Listas</span>
    </div>

    <div (click)="irASugerencias()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #8E94A0;">
      <img src="assets/icon/amigos.png" style="width: 30px; height: 30px; margin-bottom: 4px;">
      <span style="font-size: 0.75rem; font-weight: 600;">Amigos</span>
    </div>



    <div (click)="irARanking()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #8E94A0;">
      <ion-icon src="assets/icon/ranking_icon.svg" style="font-size: 30px; margin-bottom: 4px;"></ion-icon>
      <span style="font-size: 0.75rem; font-weight: 600;">Mis reseñas</span>
    </div>

    <div (click)="irAMensajes()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #8E94A0;">
      <img src="assets/icon/mensaje.png" style="width: 30px; height: 30px; margin-bottom: 4px;">
      <span style="font-size: 0.75rem; font-weight: 600;">Mensajes</span>
    </div>

    <div (click)="irAPerfil()" style="display: flex; flex-direction: column; align-items: center; flex: 1; color: #8E94A0;">
      <ion-icon src="assets/icon/perfil_icon.svg" style="font-size: 30px; margin-bottom: 4px;"></ion-icon>
      <span style="font-size: 0.75rem; font-weight: 600;">Perfil</span>
    </div>

  </div>
</ion-footer>